## 연속 데이터 타입

- 타입
    - 연속 데이터 타입 (값을 여러개를 들고 있다)

|타입명|기호|특징|
|:---:|---:|:---|
|리스트|[]|- list()<br>- 순서(인덱스)가 있다<br>- 값 중복 OK |
|딕셔너리|{}|- dict()<br>- 순서 없다<br>- 키와 값의 세트 구성<br>- 키 중복 X|
|튜플|()|- tuple()<br>- 리스트와 거의다 동일하나, 수정,삭제불가<br>- readonly(읽기전용)<br>- 값을 단순히 묶는다|
|집합|{}|- set()<br>- 중복제거, 순서없음|

- **향후 접하게될 연속 데이터 타입**

|타입명|기호|특징|
|:---:|---:|:---|
|배열|ndarray|- numpy(수학/과학용)의 타입, 데이터분석,머신러닝,구성원의타입을동일해야함|
|시리즈|Series|- 1차원 구조 데이터, pandas, 데이터분석,머신러닝,구성원의타입을동일해야함|
|데이타프레임|DataFrame|- 2차원 구조 데이터, pandas, 데이터분석,머신러닝|
|텐서|Tensor|- 딥러닝의 자료구조, tensorflow, pyTorch|

### 리스트

In [1]:
# 1. 리스트의 생성 및 기본성질
# 동적 생성 : 공간을 먼저 만들고, 향후 데이터를 동적 추가
a = list()
# 값 자체를 확인, 타입 확인, 맴버수 확인
a, type(a), len(a)

([], list, 0)

In [3]:
# 데이터를 단순하게 넣어서 만드는것은 가능, 구조가 복잡한 데이터이면
# 구성하기가 어렵다
a = list('abcd')
a

['a', 'b', 'c', 'd']

In [2]:
# 정적 생성 : 만들때 이미 데이터를 넣어서 만든다
a = []
a, type(a), len(a)

([], list, 0)

In [4]:
# 데이터가 복잡한 구조를 바로 넣으면서 생성하면
a = [
    {
        'code':'USD',
        'price':1180
    },
    {
        'code':'EUR',
        'price':1430
    },    
]
a

[{'code': 'USD', 'price': 1180}, {'code': 'EUR', 'price': 1430}]

In [5]:
# 임시 구성 
numbers = [ 1,3,5,7,9 ]
numbers, type(numbers), len(numbers)

([1, 3, 5, 7, 9], list, 5)

In [6]:
foods = ['돈까스','햄버거','라면']
foods, type(foods), len(foods)

(['돈까스', '햄버거', '라면'], list, 3)

In [8]:
# 맴버의 구성원의 타입이 다르다 -> OK -> 주소만 담으니까
# 구성원간의 차원이 달라서 OK
data_mixs = [1,2,3,'햄버거', [3.14,'부산대역'] ]
data_mixs

[1, 2, 3, '햄버거', [3.14, '부산대역']]

In [9]:
# 2. 리스트안에 특정 맴버값을 획득 => 1놈만 획득 => 인덱싱
# 정방향 인덱스는 0부터 출발, 3이라고 쓰면=>네번째맴버
data_mixs[ 3 ]

'햄버거'

In [10]:
# 역방향은 -1부터
data_mixs[ -1 ]

[3.14, '부산대역']

In [11]:
# 5 * 3
len(data_mixs) * 3

15

In [12]:
data_mixs[-1]

[3.14, '부산대역']

In [14]:
len(data_mixs[-1]) * 3

6

In [13]:
# 3. 슬라이싱
# 변수[시작인덱스:끝인덱스:step]
numbers

[1, 3, 5, 7, 9]

In [15]:
# 3, 5, 7만 획득 -> 리스트에서 리스트를 획득
numbers[1:-1]

[3, 5, 7]

In [18]:
# 1, 5, 9을 획득하시오
numbers[:]

[1, 3, 5, 7, 9]

In [19]:
numbers[::1]

[1, 3, 5, 7, 9]

In [20]:
numbers[::2]

[1, 5, 9]

In [21]:
# 4. 수정 -> 원본 변경
numbers[0]

1

In [22]:
# 맴버 한개 수정
numbers[0] = 100
numbers

[100, 3, 5, 7, 9]

In [23]:
# 여러개 수정, 개수따라 다양하게 변경된다
numbers[1:-1]

[3, 5, 7]

In [27]:
# 연속형 데이터만 대입이 가능!!
# 기존 데이터는 날라가고, 새로운 데이터가 리스트 형태에 맞춰서 삽입
# 정확하게 게산하지 않으면 의도하지 않은 결과 획득,
# 원본이 훼손되기 때문에 신중하게 처리, 사본떠서 작업
# numbers[1:-1] = "50"  # 원본 수정
numbers[:][1:-1] = "50" # 사본 수정

In [28]:
numbers

[100, '5', '0', 9]

In [ ]:
# 5. 추가
# +
# .append()
# .extend()

In [30]:
# + => 이어붙이기
a = [1,2,3]
b = [4,5,6]
# 리스트 + 리스트는 더해서 사본을 리턴, 원본 보존
a, b, a+b, a, b

([1, 2, 3], [4, 5, 6], [1, 2, 3, 4, 5, 6], [1, 2, 3], [4, 5, 6])

In [31]:
# .append() : 추가하기 => 대상 리스트의 맴버로 추가 => 원본수정
a.append(b)
a

[1, 2, 3, [4, 5, 6]]

In [33]:
a = [1,2,3]
a

[1, 2, 3]

In [34]:
# .extend() => 동급으로 추가, 이어붙인다 => 원본조작
a.extend(b)
a

[1, 2, 3, 4, 5, 6]

In [ ]:
# 6. 삭제

In [35]:
# 파이썬에서 제공하는 삭제법
del a[0]
a

[2, 3, 4, 5, 6]

In [36]:
del a[:2]
a

[4, 5, 6]

In [37]:
a.clear()
a

[]

In [38]:
del a

In [39]:
a

NameError: name 'a' is not defined

In [ ]:
# 7. 반복문과 같이 처리, 리스트 내포 방식 => 반복문에서 다룬다

### 딕셔너리

- 딕셔너리의 모습이 타언어에서는 
- Java:Map, Javascript:js객체, ios:NSDictionary, 데이터형식:json
- 호환성이 좋다!! (타언어와 통신으로 연동시)

In [40]:
# 1. 딕셔너리 생성
# 정적 구성, 맴버를 직접 셋업하면서 생성하는 방식
dic = {}
dic, type(dic), len(dic)

({}, dict, 0)

In [41]:
# 동적구성, 차후에 데이터가 세팅된다
dic = dict()
dic, type(dic), len(dic)

({}, dict, 0)

In [43]:
# 2. 기본 생성
# 키:값, 키:값,...
# 키는 함수를 제외하고는 모든 타입이 사용 가능
# 문자열, 수치를 주로 사용
exchanges = {
    "na":"미국",
    "code":"USD",
    "buy":1165.10,
    "sell":1185.48
}
exchanges

{'na': '미국', 'code': 'USD', 'buy': 1165.1, 'sell': 1185.48}

In [44]:
# 3. 인덱싱 : 변수명[ 키 ]
# 키는 특정 데이터를 가르키는 고유 값 <- 중복되면 않된다
exchanges[ "na" ]

'미국'

In [45]:
# 4, 수정 및 추가 
# na라는 키가 있으면 수정, 없으면 추가
exchanges[ "na" ] = 'America'
exchanges

{'na': 'America', 'code': 'USD', 'buy': 1165.1, 'sell': 1185.48}

In [46]:
exchanges[ 1 ] = 'EUR'
exchanges

{'na': 'America', 'code': 'USD', 'buy': 1165.1, 'sell': 1185.48, 1: 'EUR'}

In [ ]:
# 5. 슬라이싱 -> X : 순서가 없다

In [47]:
# 6. 형태밑 데이터 확인
# 키만
exchanges.keys()

dict_keys(['na', 'code', 'buy', 'sell', 1])

In [48]:
# 값만
exchanges.values()

dict_values(['America', 'USD', 1165.1, 1185.48, 'EUR'])

In [49]:
# 키, 값을 묶어서
exchanges.items()

dict_items([('na', 'America'), ('code', 'USD'), ('buy', 1165.1), ('sell', 1185.48), (1, 'EUR')])

In [50]:
# 이것이 프로그램적으로는 더 안정적, 해당 키가 없을때
exchanges.get("na")

'America'

In [51]:
exchanges.get("na1")

In [52]:
exchanges['na1']

KeyError: 'na1'

In [53]:
# 7. 삭제
del exchanges['na']

In [54]:
exchanges

{'code': 'USD', 'buy': 1165.1, 'sell': 1185.48, 1: 'EUR'}

### 튜플

In [55]:
# 1. 튜플 생성
# 정적
tu = ()
tu, type(tu), len(tu)

((), tuple, 0)

In [56]:
# 동적
tu = tuple()
tu, type(tu), len(tu)

((), tuple, 0)

In [59]:
# 2. 기본 데이터 설정및 생성
# 맴버가 1개이면 반드시 ,  붙인다
tu = (1,)
tmp = (1) # 의도하지 않은 타입으로 처리된다
type(tu), type(tmp)

(tuple, int)

In [60]:
tu = (1,2,3,4,5)
tu, type(tu), len(tu)

((1, 2, 3, 4, 5), tuple, 5)

In [ ]:
# 값 변경, 데이터 추가, 데이터 삭제 X
# readonly, immutable

In [62]:
# 3. 인덱싱, 슬라이싱 : 리스트와 동일하다

In [61]:
tu[0], tu[:2]

(1, (1, 2))

In [63]:
# 튜플을 변수로 받기(리스트도 동일), 맴버수와 동일하게
a,b,c,d,e = tu

In [65]:
a,b,c,d,e

(1, 2, 3, 4, 5)

In [66]:
# 동일 숫자로 변수를 배치하지 않으면 오류!!
a,b,c,d = tu

ValueError: too many values to unpack (expected 4)

In [67]:
# _ 변수인데 않쓰겟다, 더미처리(관습적 표현)
a,b,c,d,_ = tu
_

5

In [68]:
# 줄여서 받는다
a,b,c,d = tu[:-1]

In [69]:
a,b,c,d

(1, 2, 3, 4)

In [70]:
# 튜플을 가장 많이 사용하는 곳은 
# 함수의 리턴값이 여러개일때 -> 여러개를 리턴하면
# 튜플로 반환된다
def test():
    return 1,3

In [71]:
a, b = test()

In [73]:
print(a, b)

1 3

### 집합

- 중복제거
- { 값, 값, 값,.. }
- 중간적인 형태

In [77]:
a = list( set( "helloworld" ) )
a

['h', 'r', 'l', 'd', 'e', 'o', 'w']

In [78]:
a.sort()

In [79]:
a

['d', 'e', 'h', 'l', 'o', 'r', 'w']

In [81]:
# 합집합, 교집합, 차집합
a = set([4,7,10,2,1,2,4,67,80,3,4])
b = set([100,62,3,4,6,2,1,3,5,5,6,8])
a, b

({1, 2, 3, 4, 7, 10, 67, 80}, {1, 2, 3, 4, 5, 6, 8, 62, 100})

In [82]:
# 합집합
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 10, 62, 67, 80, 100}

In [83]:
# 교집합
a.intersection(b)

{1, 2, 3, 4}

In [85]:
# 차집합 (빼는 방향)
a.difference(b), b.difference(a)

({7, 10, 67, 80}, {5, 6, 8, 62, 100})