In [14]:
tmp='111111111111?222222222222'
a=tmp.split('?')[0]
a

'111111111111'

In [ ]:
'%+%;%()

In [16]:
#9.공백제거
tmp='''				
					
					
					
					미국 USD
				
				'''
tmp

'\t\t\t\t\n\t\t\t\t\t\n\t\t\t\t\t\n\t\t\t\t\t\n\t\t\t\t\t미국 USD\n\t\t\t\t\n\t\t\t\t'

In [22]:
code=tmp.strip()
code.split()[-1]

'USD'

In [28]:
'123{0:*^10}456'.format('가')

'123****가*****456'

In [36]:
x=int(input('숫자입력'))
if x != 10 :
    print('ok')

숫자입력5
ok

In [37]:
data_mix=[1,2,3,'햄버거',[3.14,'부산대역']]
data_mix

[1, 2, 3, '햄버거', [3.14, '부산대역']]

In [41]:
data_mix[-1]

3.14

In [43]:
data_mix

[1, 2, 3, '햄버거', [3.14, '부산대역']]

In [1]:
for n in range(2):
    for m in range(2):
        print

In [3]:
#데이터가 복잡한 구조를 바로 넣으면서 생성하면
a=[
    {
        
        'code':'USD',
        'price':1180
    },
    {
        
        'code':'EUR',
        'price':1430
        
    },
    
    
    
]
a

[{'code': 'USD', 'price': 1180}, {'code': 'EUR', 'price': 1430}]

In [7]:
for key, value in a[0]:
    print(key, value)

ValueError: too many values to unpack (expected 2)